.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Pages Section */
.pages {
  flex: 1;
  padding: 16px 64px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  background-color: #f6f6f6;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 16px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
